<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h2>Registration Page</h2>
<form th:action="@{/registration}" method="post" th:object="${user}">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" required>
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </div>
    <div>
        <button type="submit">Register</button>
    </div>

    <div th:if="${errorMessage}">
        <p style="color:red" th:text="${errorMessage}"></p>
    </div>
</form>
</body>
</html>
